@import "tailwindcss";
@theme {
  --color-greyspot: #121212;
  --color-greyspotclear: rgba(25, 25, 25, 0.8);
  --color-bgtopgradient:#1c3642;
  --color-bggreengradient:#197138;
  --color-GreenBtn:#1ed760;
  --color-GreenBtnHover:#1ed75f98;
  --color-titlep1: rgba(156, 239, 226, 0.7);
  --color-titlep2: rgba(38, 133, 106, 0.7);
  --color-titlep3: rgba(255, 204, 210 , 0.7);
  --color-titlep4: rgba(219, 20, 140 , 0.7);
  --color-titlep5: rgba(250, 230, 44 , 0.7);
  --color-titlep6: rgba(25, 228, 140, 0.7);
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #121212;
    background-clip: content-box; 
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(25, 25, 25, 0.39);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #949494;
  }
}
